# Web
WEB_URL=http://localhost:3000
WEB_PORT=3000

# API
API_URL=http://localhost:8000
API_PORT=8000

# PostgreSQL
POSTGRES_DB=alphafinance
POSTGRES_USER=alphafinance
POSTGRES_PASSWORD=alphafinance
POSTGRES_PORT=5432
